.stageMaster > div.stage_general{
    padding: 1rem;
}
.stage_general h1{
    font-size: 1.6rem;
    font-weight: 300;
    color: #FECB00;
    padding: 1rem 0;
    text-align: center;
}
.stage_general h2{
    font-size: 1.6rem;
    font-weight: 300;
    color: #FECB00;
    padding: 1rem 0;
    text-align: center;
}
.stage_general h1 strong{
    font-weight: 700;
    display: block;
}
img.responsive{
    width: 100%;
}