.button-menu-principal{
    /*background-color: rgb(54, 58, 58);*/
    width: 4.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    margin: 0 1rem 0 0;
    text-decoration: none;
}
.button-menu-principal .hamburguer{
    height: 1.8rem;
    width: 1.8rem;
}
.button-menu-principal .hamburguer div{
        background-color: #fff;
        margin-left: 10%;
        margin-top: 13%;
        height: 15%;
        width: 80%;
}
.button-menu-principal .menu-text{
    padding: 0 0.2rem;
}
.navigation{
    background-color: rgba(0, 0, 0, 0.9);
    display: block;
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    top: 0;
    transition: .5s;
    left:-200vw;
    transform: rotateZ(90deg);
    
    overflow: auto;
}
.navigation::-webkit-scrollbar{
    width:8px;
    height:8px
}
.navigation::-webkit-scrollbar-thumb{
    background:grey;
    border-radius:4px
}
.navigation::-webkit-scrollbar-thumb:hover{
    background:#919191;
    box-shadow:0 0 2px 1px rgba(0,0,0,.2)
}

.navigation li{
    list-style: none;
}

.navigation ul li a{
    color: #fff;
    display: block;
    padding: 1rem 2rem;
    border-bottom: 1px dotted #fff;
    text-decoration: none;
    transition: .5s;
}
.navigation ul li a.active{
    background-color: rgb(255, 217, 0);
    color: rgb(0, 0, 0);
    display: block;
    padding: 1rem 2rem;
    border-bottom: 1px dotted #fff;
}
.navigation ul li strong{
    color: #fff;
    display: block;
    padding: 1rem ;
    border-bottom: 0px solid #fff;
}
.navigation nav{
    margin: 0 auto;
    max-width: 1000px;
}
div.stage-pages-general.clicked-menu .navigation{
    left: 0;
    transform: rotateZ(0deg);
}
header{
    display: flex;
}


@media (min-width: 1000px) {
    .navigation{
        left:0;
        transform: rotateZ(0deg);
        position: fixed;
        width: 300px;
        float: left;
    }
    div.stage-pages-general.clicked-menu .navigation{
        left:-400px;
        transform: rotateZ(0deg);
        position: fixed;
        width: 300px;
        float: left;
    }
    .stageMaster > div.stage-pages-general div.general{
        margin: 0 auto;
        max-width: 900px;
    }
    .stageMaster > div.stage-pages-general{
        margin: 0 0 0 300px;
        max-width: 100%;
        transition: .5s;
    }
    .stageMaster > div.stage-pages-general.clicked-menu{
        margin: 0;
    }
   
}