.list-select-for-text{

}

.list-select-for-text span.span-select{
    background-color: rgb(60, 60, 60);
    border-radius: 5px;
    display: inline-block;
    padding: 3px;
    margin: 3px 0;
}

.list-select-for-text span.span-select.success::after,
.list-select-for-text span.span-select.danger::after{
    content: "Correcto";
    display: inline-block;
    padding: 2px;
    margin: 0 0 0 3px;
    background-color: green;
    color: #fff;
    font-size: .8rem;
}
.list-select-for-text span.span-select.danger::after{
    background-color: red;
    content: "Incorrecto";
}

.list-select-for-text select{
    background-color: rgb(60, 60, 60);
    color: #fff;
    font-size: 1rem;
    padding: 3px;
}

.list-select-for-text .alltext-list-select-for-text{
    background-color: #eeeeee;
    padding: 40px 20px;
}



