.stage_stationMap{
    align-items:center;
    display: flex;
    justify-content: center;
}

.stage_stationMap{
    
}

.mapOfStations{
    background-color: rgb(29, 172, 24);
    position: relative;
    display: inline-block;
    margin: 0 auto;
    transition: 1s;
}
.mapOfStations.horizontal{
    transform: rotate(-90deg);
}
.mapOfStations .bus{
    background-color: yellow;
    border-right: 4px solid;
    height: 2.2%;
    position: absolute;
   top: 2.5%;
    left: 0;
  
    width: 8%;
    z-index: 10;
}
.mapOfStations .bus.horizontal-right{
    transform: rotate(0deg);
}
.mapOfStations .bus.horizontal-left{
    transform: rotate(180deg);
}
.mapOfStations .bus.vertical-bottom{
    transform: rotate(90deg);
}
.mapOfStations .bus.vertical-top{
    transform: rotate(270deg);
}
.mapOfStations img.img-map{
    width: 100%;
}

.station-1{
    background-color: rgb(184, 184, 184);
    position: absolute;
    width: 60%;
    z-index: 12;
    left: 20%;
    height: 10%;
    top: 12.5%;
}

.station-2{
    background-color: rgb(36, 187, 200);
    position: absolute;
    width: 26%;
    z-index: 12;
    left: 3%;
    height: 14%;
    top: 43%;
}

.station-3{
    background-color: rgb(200, 41, 36);
    position: absolute;
    width: 26%;
    z-index: 12;
    left: 58%;
    height: 14%;
    top: 52%;
}

.station-4{
    background-color: rgb(18, 161, 66);
    position: absolute;
    width: 26%;
    z-index: 12;
    left: 20%;
    height: 14%;
    top: 82%;
}
